@model IEnumerable<HealthCare.Models.Aboutu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BackgroundImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pargraph1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pargraph2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pargraph3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Web)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
<img src="@Url.Content("~/Images/"+item.BackgroundImage)" alt="Category Image" width="75" height="75"/>            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pargraph1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pargraph2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pargraph3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Web.WebId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AboutusId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AboutusId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AboutusId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
