@model HealthCare.Models.Website

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Website</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackgroundImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackgroundImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogoPic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogoPic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlidrPic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlidrPic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pargraph)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pargraph)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Firstname)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="WebId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
