@model HealthCare.Models.Website

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Website</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackgroundImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackgroundImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogoPic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogoPic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlidrPic)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Images/@Html.DisplayFor(model =>model.SlidrPic)" style="height:100px;width:100px;" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pargraph)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pargraph)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Firstname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WebId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
