@model HealthCare.Models.Creditcard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Creditcard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ccv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ccv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpireData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpireData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Firstname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
